$dark-blue: #224081;
$yellow: #53b848;
$yellow-button: #fbe50b;
$light-blue: #28afe5;
$purple: #4a0d49;
$light-grey: #e6e7e6;
$transBlack: rgba(0, 0, 0, 0.7);

$breakpoint-large: 991px;
$breakpoint-medium: 850px;
$breakpoint-small: 600px;

a {
    color: $dark-blue;
}

.no-pad {
    padding: 0;
}

.margin-bottom {
    margin-bottom: 40px;
}

.entry-header {
    display: none;
}

.centered {
    text-align: center;
}

.flex-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.header-image {
    img {
    width: 100%;
}
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Baltica', sans-serif;
    line-height: 1.7rem;
}

.light-blue {
    background: $light-blue;
}

.dark-blue {
    background: $dark-blue;
}

.yellow {
    background: $yellow;
}

.button, .daf-button-link {
    padding: 10px 20px;
    background: $yellow-button;
    display: inline-block;
    border-radius: 55px;
    min-width: 200px;
    color: $dark-blue;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border: none;
    transition: .4s ease;
    text-align:center;

    &.secondary {
        color: #fff;
        background: $dark-blue;
    }

    &:hover {
        background: #fff !important;
        color: $dark-blue;
        transition: .4s ease;
        -webkit-box-shadow: 7px 7px 16px 3px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 7px 7px 16px 3px rgba(0, 0, 0, 0.24);
        box-shadow: 7px 7px 16px 3px rgba(0, 0, 0, 0.24);
    }
}


.main-navigation {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.desktop {
    @media (max-width: $breakpoint-medium) {
        display: none;
    }

    li {
        &:last-child {
            a {
                padding-right: 0;
            }
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
}

.site-content {
        margin-top: 196px;

    @media (max-width: $breakpoint-medium) {
        margin-top: 137px;
    }
}

.white {
    p {
    color:#fff;
      }
}

section {
    padding: 60px 0;

    h2 {
        &.section-title {
            margin: 0 40px 40px 40px;
            padding-bottom: 20px;
            border-bottom: 1px solid $dark-blue;
            color: $dark-blue;

            &.white {
                color: #fff;
                border-color: #fff;
            }
        }
    }

    &.dark-blue {
        h2 {
            color: #fff;
            border-color: #fff;
        }
    }

    &.yellow {
        h2 {
            color: #fff;
            border-color: #fff;

            &.section-title {
                color: $dark-blue;
                border-color: $dark-blue;
            }
        }
    }

    &.light-blue {
        h2 {
            color: #fff;
            border-color: #fff;
        }
    }

    &.no-pad-bottom {
        padding-bottom: 0;
    }

    &.no-pad-top {
        padding-top: 0;
    }
}

.button-box {
    padding: 30px;
    text-align: center;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0 40px 40px 40px;
    &.no-marg-bottom {
        margin-bottom:0px;
    }
    &.small {
        max-width:1100px;
        margin:auto;
        padding:40px;
        padding-bottom:0px;
    }
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    padding: 30px;
    padding-bottom: 30px;
    text-align: center;
    background: $dark-blue;
    border-bottom: 2px solid #fff;

    img {
        height: 100%;
        float:left;

    }

    .logo {
        height: 120px;
        background-image: url("/wp-content/uploads/2020/11/header-logo-no-banner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: .4s ease;

        @media (max-width: $breakpoint-medium) {
            height: 80px;
            background-position: left;
        }

        &.event-logo {
            background-image: url("/wp-content/uploads/2020/12/logo-w-date.png");
        }
    }

    .menu {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: flex-end;
    }

    a {
        color: #fff;
        padding: 15px;
        padding-bottom: 0;
        display: block;
        text-decoration: none;
        font-weight: bold;
        transition:.4s ease;

        &.active {
            color: $light-blue;
        }
        &:hover {
            color:$light-blue;
            transition:.4s ease;
        }
    }

    &.shrink {
        padding-top: 20px;
        padding-bottom: 20px;

        .logo {
            height: 80px;
            transition: .4s ease;
            background-position: left;
        }

        .header-banner {
            width: 150px;
            transition: .4s ease;
        }
    }

    @media (max-width: $breakpoint-medium) {
        padding: 20px;
    }

    .row .column.small {
    width: auto;
}
.row .column.large { 
width: 100%;
}
}

.row {
    display: flex;
    width: 100%;

    .column {
        width: 50%;

        &.small {
            width: 40%;

            @media (max-width: $breakpoint-medium) {
                width: 50%;
            }

            &.break {
                @media (max-width: $breakpoint-medium) {
                    width: 100%;
                }
            }
        }

        &.large {
            width: 60%;

            @media (max-width: $breakpoint-medium) {
                width: 50%;
            }

            &.break {
                @media (max-width: $breakpoint-medium) {
                    width: 100%;
                }
            }
        }

        &.three {
            width: 33.33%;

            @media (max-width: $breakpoint-medium) {
                width: 100%;
            }
        }

        &.full-image {
            margin: -60px 0;
            background-image: url("/wp-content/uploads/2021/09/VOI_1.png");
            background-size: cover;
            background-position: center;
                min-height: 400px;

            @media (max-width: $breakpoint-medium) {
                margin: 0;
                margin-bottom: -60px;
                height: 250px;
            }

            &.thank-you {
                background-image: url("/wp-content/uploads/2020/11/tinted-full-image.jpg");
                background: $dark-blue;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: bottom;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &.sponsor-image {
                background-image: url("/wp-content/uploads/2021/08/bostonenglish-music.jpg");
                background-position: center;
            }

            &.sponsor-image-2 {
                background-image: url("/wp-content/uploads/2020/11/woman-friar.jpg");
                background-position: top;

                &.no-marg {
                    margin: 0;
                }
            }

            &.contact-image {
                background-image: url("/wp-content/uploads/2020/11/image-3.png");
                background-position: center;
            }
        }

        @media (max-width: $breakpoint-medium) {
            width: 100%;
        }
    }

    @media (max-width: $breakpoint-medium) {
        flex-wrap: wrap;
    }

    &.flex-wrap {
        flex-wrap: wrap;
    }
}

.image-section {
    padding-top:0;
    img {
                width:100%;
        }
}

.background-img {
    background: $dark-blue;
    width: 100%;
    height: 100%;
    background-image: url("/wp-content/uploads/2020/11/tinted-full-image-2.jpg");
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;

    &.secondary {
        height: auto;
    }
}

.centered-graphic {
    width: 250px;
    padding: 30px;

    &.wide {
        width: 80%;

        @media (max-width: $breakpoint-small) {
            width: 100%;
        }
    }
}

.text-area {
    padding: 30px;
    background: $light-blue;
    color: #fff;

    &.yellow {
        background: $yellow;
        color: #fff;
    }

    &.no-pad {
        padding: 0;
    }
}

.styled-list {
    ul {
        list-style: none;
        padding: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin: 0;
        padding-bottom: 30px;
    }

    li {
        width: 33.33%;
        padding: 7px 0px 7px 30px;
        font-weight: bold;
        font-size: .8rem;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        line-height: 1rem;
        flex-grow: 1;

        &:nth-child(6n+4), &:nth-child(6n+5), &:nth-child(6n+6) {
            background: #fdca72;
        }
    }

    h2 {
        margin-top: 0;
        padding: 30px;
        padding-bottom: 0;
    }

    &.stacked {
        ul {
            flex-direction: column;
        }

        li {
            width: 100%;

            &:nth-child(6n+4), &:nth-child(6n+5), &:nth-child(6n+6) {
                background: none;
            }

            &:nth-child(even) {
                background: #6f0343;
            }
        }
    }
}

.community {
    .button {
        margin-bottom:30px;
        font-size:1.2rem;
    }
}

.registration {
    background: $purple;
    width: 100%;

    .form {
        width: 100%;
    }
}

.icon-set {
    /*     margin-bottom: -60px;
     */
}

.icon-section {
    h2 {
        color: $dark-blue;
        border-color: $dark-blue;
    }

    .icon-box {
        padding: 40px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:hover {
            .icon {
                svg {
                    height: 140px;
                    transition: .4s ease;
                }
            }
        }

        .button {
            min-width: 50%;
        }
    }

    .icon {
        height: 130px;
        margin-bottom: 40px;
        margin-top: 0px;

        svg {
            height: 100%;
            transition: .4s ease;
        }
    }

    .button {
        background: $yellow-button;
        min-width: 200px;
    }
}



.sponsorship {
    background: $yellow;
    width: 100%;
    height: 100%;
    .section-title {
        color:#fff;
        border-bottom: 1px solid #fff;
    }

    .menu-section {
        h2 {
            color: #fff;
            border-color: #fff;
        }
    }
}

.program-book {
    background: $yellow;
    width: 100%;
    height: 100%;
    .section-title {
        color:#fff;
        border-bottom: 1px solid #fff;
    }

    .menu-section {
        h2 {
            color: #fff;
            border-color: #fff;
        }
    }
}

.contact {
    background: $yellow;
    width: 100%;
    height: 100%;

    .menu-section {
        h2 {
            color: #fff;
            border-color: #fff;
        }
    }
}

.sponsor-list {
    background: $dark-blue;
}

/* Modal */
$speed: 0.6s;
$delay: $speed * 0.5;
$easing: cubic-bezier(0.55, 0, 0.1, 1);

/* Mobile Form */

.mobile-form-btn {
    @media (min-width: $breakpoint-small) {
        display: none;
    }
}

.launch-form a {
    @media (max-width: $breakpoint-small) {
        display: none;
    }
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: $transBlack;
    z-index: 8000;
    opacity: 0;
    visibility: hidden;
    overflow: scroll;

    /*     @media (max-width: $breakpoint-small) {
            position: static;
            height: auto;
            position: static;
            display: block;
        } */

    .form {
        padding: 20px;
        position: relative;
        width: 800px;
        margin: auto;
        background: $light-blue;
        opacity: 0;
        transform: scale(1.2);
        transition: all $speed $easing;

        h2 {
            text-align: center;
            color: #fff;
            margin: 0;
            margin-bottom: 15px;
        }

        @media (max-width: $breakpoint-small) {
            width: 100%;
        }
    }

    .navigation {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        float: right;
        background: $yellow;
        opacity: 0;
        transition: opacity $speed $easing;
        transition-delay: $delay;
        cursor: pointer;

        .close-modal {
            svg {
                width: 100%;
                display: block;
                margin: auto;
                opacity: 0;
                transition: opacity $speed $easing, transform $speed $easing;
                transition-delay: $delay;
                margin-top: -10px;
            }
        }

        /*         @media (max-width: $breakpoint-small) {
                    display: none;
                } */
    }

    &.active {
        opacity: 1;
        visibility: visible;

        .form {
            opacity: 1;
            transform: scale(1);
        }

        .navigation {
            opacity: 1;
        }

        .close-modal svg {
            transform: translateY(10px);
            opacity: 1;
        }
    }
}

/* Form Styles */

.form, .mobile-form {
    padding: 20px;

    .gform_wrapper {
        margin: 0px !important;

        .gfield_required {
            display: none;
        }
    }

    .gform_title {
        color: #fff;
    }

    .gform_footer {
        margin-top: 0px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;

        @media (max-width: $breakpoint-small) {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    }

    .button {
        padding: 13px 20px;
        background: $yellow;
        display: inline-block;
        border-radius: 55px;
        max-width: 200px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        border: none;
        &:hover {
            color:$dark-blue;
        }
    }
}

.gform_body {
    ul {
        li {
            color: #fff;
            margin: 0px !important;
            padding: 15px !important;

            @media (max-width: $breakpoint-small) {
                padding-right: 0px !important;
                padding-left: 0px !important;
            }

            input {
                background-color: #fff;
                height: 50px;
                border: none;
                border: 1px solid #fff;
                padding-left: 15px !important;
                margin-top: 0px !important;

                &::placeholder {
                    color: #666;
                }
            }

            .ginput_container {
                margin: 0px !important;
            }
        }
    }

    .ginput_container_select {
        select {
            background-color: #fff;
            height: 50px;
            border: none;
            border: 1px solid #fff;
            border-radius: 0px !important;
            padding-left: 15px !important;
            color: #666 !important;
        }
    }

    label {
        margin-bottom: 10px !important;
    }
}

.gform_confirmation_message {
    color: #fff;
}

.modal-form {
    li {
        &:nth-child(-n+8) {
            display: inline-block;
            width: 50%;

            @media (max-width: $breakpoint-small) {
                display: block;
                width: 100%;
            }
        }
    }
}

#dafdirectdiv {
    width: 100% !important;
}

#showwhatisthis {
    width: 100% !important;
}

#notwhatisthis input {
    width: 100% !important;
}

#notwhatisthis select {
    width: 100% !important;
}

/* Mobile Menu */

/* Hamburger Styles */
$height-icon: 15px;
$width-line: 28px;
$height-line: 2px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: $height-icon / 2;
$translateX: 0;

.hamburger-wrapper {
    position: absolute;
    right: 30px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 10px;

    @media (min-width: $breakpoint-medium) {
        display: none;
    }

    @media (max-width: $breakpoint-medium) {
        bottom: 13px;
        right: 18px;
    }
}

.hamburger-icon {
    width: $width-line;
    height: $height-icon;
    margin: auto;
    position: relative;
    display: block;

    .line {
        display: block;
        background: $dark-blue;
        width: $width-line;
        height: $height-line;
        position: absolute;
        left: 0;
        border-radius: $height-line / 2;
        transition: all $transition-time;
        -webkit-transition: all $transition-time;
        -moz-transition: all $transition-time;

        &.line-1 {
            top: 0;
        }

        &.line-2 {
            top: 50%;
        }

        &.line-3 {
            top: 100%;
        }
    }
}

.main-navigation.mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    -webkit-box-shadow: 0px 10px 23px -1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 10px 23px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 10px 23px -1px rgba(0, 0, 0, 0.25);

    @media (max-width: $breakpoint-medium) {
        display: block;
        background: $dark-blue;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        margin: 0;

        @media (max-width: $breakpoint-medium) {
            display: block;
            width: 100%;
        }

        li {
            display: inline-block;

            @media (max-width: $breakpoint-medium) {
                display: block;
                width: 100%;
                text-align: center;
            }

            a {
                display: block;
                padding: 15px 20px;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: .9rem;

                &.active {
                    color: $light-blue;
                    background-color: $light-blue;

                    @media (max-width: $breakpoint-medium) {
                        color: #fff;
                        background: rgba($light-blue, 0.4);
                    }

                    &:hover {
                        background-color: $light-blue;

                        @media (max-width: $breakpoint-medium) {
                            background: rgba($light-blue, 0.4);
                        }
                    }
                }

                &:hover {
                    background: lighten($light-blue, 10%);

                    @media (max-width: $breakpoint-medium) {
                        background: none;
                    }
                }
            }
        }
    }
}

.site-footer {
    background: $dark-blue;
    padding: 30px;
    border-top: 2px solid #fff;

    p {
        margin: 0;
        text-align: center;
        color: #fff;
        font-size: .7rem;
    }

    a {
        color: $light-blue;
        text-decoration: none;
    }
}

.video-section, .chat-box-section {
    height: 100%;

    .container {
        @media (max-width: $breakpoint-medium) {
            padding: 0;
            margin: 0;
        }
    }
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-note {
    text-align: center;
    margin: 0;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.2rem;
}


#about {
    text-align: center;
}

.about-wrapper ul {
    text-align: left;
    max-width: 722px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    }


.honorees {
    img {
    max-width: 100%;
}
.column {
    padding:50px;
    text-align: center;
    border:1px solid #333;
    margin:30px;
    @media (max-width: $breakpoint-medium) {
            padding: 10px;
            margin: 0px;
            margin-bottom:20px;
        }
}
}

.honoree-logo {
        max-height: 200px;
}

.thank-you {
    font-size: 1.5rem;
    font-weight: bold;
    color: $light-blue;
}

.our-sponsors {
    ul {
        list-style:none;
        padding:0;
    }
}

.sponsor-type {
    padding:40px 0;
    &.grey {
        background:$light-grey;
    }
    h3 {
        font-size: 2.5rem;
    font-weight: lighter;
    margin-bottom: 60px;
    padding-bottom: 30px;
    color: $dark-blue;
    border-bottom: 1px dotted $dark-blue;
    }
}

.logo-list {
    li {
        &:not(:first-child) {
            margin-top:60px;
        }
    }
    &.side-by-side {
        @media (min-width: $breakpoint-small) {
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:center;
        li {
            display: inline-block;
            width: 28%;
            padding: 38px;
            &:not(:first-child) {
            margin-top:0px;
        }
        }
    }
        }
}


.sponsor-image {
        width: auto;
        max-width:100%;
       max-height: 170px;
}


.typed-sponsor {
    li {
            font-size: 1.2rem;
    margin-bottom: 10px;
    }
}

.look-back {
    iframe {
    width: 560px;
    height: 315px;
     @media (max-width: $breakpoint-small) {
            width: 300px;
    height: 167px;
    }
}
}

.newsletter {
    background: $light-blue;
    h3 {
        color:#fff;
    }
}


.form-wrapper {
    max-width: 900px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#mc_embed_signup {
    width: 100%;
    background:none !important;
}

#mc_embed_signup form {
    padding: 0 !important;
    background:none !important;
}

div#mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mc_embed_signup input.email {
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center !important;
    }

#mc_embed_signup label {
    display: none !important;
}

#mc_embed_signup input.button {
    padding: 10px 20px;
    background: $yellow-button;
    display: inline-block;
    border-radius: 55px;
    width:100% !important;
    min-width: 200px !important;
    color: $dark-blue;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border: none;
    transition: .4s ease;
    text-align:center;
    margin: 0 !important;
    min-height:48px;
    &:hover {
        background: #fff !important;
        color: $dark-blue;
        transition: .4s ease;
        -webkit-box-shadow: 7px 7px 16px 3px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 7px 7px 16px 3px rgba(0, 0, 0, 0.24);
        box-shadow: 7px 7px 16px 3px rgba(0, 0, 0, 0.24);
    }
}